<template>
  <div id="chart"></div>
</template>
<script>
//import { echarts } from "echarts";

export default {
  props: ['chartLine'] ,
  data: () => ({
    optionDatas:{
      title:  ' ',
        xAxis: {
          data: []           
        },
        series: {
            name: '',            
              data: [],
              markLine: {
                data: []
              }
          }
      }
  }),
  
  methods: {
    getListDatas: function () {
      let echarts = require('echarts')
      let myChart = echarts.init(document.getElementById("chart"));
      let optionData = this.chartLine;
     /// console.log(optionData)
      let option = {
        title: {
          text: optionData.title,
        },
        xAxis: {
          type: "category",
          data: optionData.xAxis.data,
          axisLabel: {
            formatter: function (value, idx) {
              var date = new Date(value);
              return idx === 0 ? value : [date.getHours()].join();
            },
          },
        },
        yAxis: {
          splitLine: {
            show: true,
          },
          scale: true,
        },
        toolbox: {
          left: "center",
          feature: {
            saveAsImage: {
              title: "下載圖片檔",
              type: "jpeg",
            },
          },
        },
        series: {
          name: optionData.series.name,
          type: "line",
          animation: true,
          itemStyle: {
            normal: {
              color: "#3398DB",
            },
          },
          data: optionData.series.data,
          markLine: {
            silent: true,
            data: optionData.series.markLine.data,
          },
        },
      };
      myChart.setOption(option);
    }
   
  },
  mounted: function(){
    this.getListDatas()
  },
  
  /*watch: {
    chartLine: {
       immediate: true,    
        handler (val) {
           /*console.log(document.getElementById("chart"));
           this.getListDatas(val);*
           console.log(val)
           //this.optionDatas = val
            this.$nextTick(function(){ 
              this.optionDatas = val
              this.getListDatas()
            })
        }
    }

  },*/

};
</script>
 <style scoped>
#chart {
  width: 600px;
  height: 300px;
}
</style>