<template>
    <v-btn
      :color="color"
      dark
      small
      fab
      @click.stop="$emit('circleBtnClick')"
    >
      <slot>CircleBtn</slot>
    </v-btn>
</template>

<script>
export default {
    props: ['color'],
    data: () => ({
    })
}
</script>