<template>
    <v-navigation-drawer
    
    >
  
    </v-navigation-drawer>
</template>
<script>
export default {
    props: ['leftNavDrawer'],
    data: () => ({
    }),
    methods:{
      goToPage(url,b){
        if(b){
          window.open(url, '_blank');
        }else{
          this.$router.push({ path: url });
        }
      },
    }
}
</script>