<template>
  <v-container fluid>
     <v-row align="center" justify="center">
      <v-col cols="12">
        <v-toolbar color="" flat>
          <v-col cols="6">
            <SelectSearch :dataSearch="dataSearch" @change="categoryChanged"></SelectSearch>
          </v-col>
          <v-col cols="6">
            <SelectSearch :dataSearch="dataSearchCounty" @change="countyChanged"></SelectSearch>
          </v-col>
        </v-toolbar>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <ItemList
          :itemList="itemList"
           @editItem="editItem"
        ></ItemList>
      </v-col>
    </v-row>    
  </v-container>
</template>
<script>
import SelectConfig from "@/config/select.config.json";
import SelectSearch from "@/components/search/SelectSearch.vue";
import ItemList from '@/components/card/ItemList.vue'
export default {
  data: () => ({
    dataSearch:{
      items: SelectConfig.categorycctv.list,
      label: SelectConfig.categorycctv.title,
      showSelect: true
    },
    dataSearchCounty:{
      items: SelectConfig.county.list,
      label: SelectConfig.county.title,
      showSelect: false
    },
     itemList: {
        items: [],
        icon: 'mdi-cctv'
      },
      initCctvData:{
          items: [],
          icon: 'mdi-cctv'
      }
  }),
  mounted: function() {
     this.itemList.items = this.getListDatas()
  },
  methods:{
     getListDatas: function () {
        let self = this
        let tempListData = []
        const cctvUrl = '/api/javaapi/water_extra_api/cctv/getCctvListAll?org_id=69'
        self.$http.get(cctvUrl)
        .then(response => {
            response.data.forEach(datas => {
            tempListData.push({
              'st_name': datas.cctv_name,
              'datatime': datas.cctv_address,
              'color': 'green',
              'st_no': datas.cctv_no,
              'category': datas.category,
              'cctv_town': datas.cctv_town
            })
          })
          tempListData =  tempListData.sort(function (a, b) {
            return a.cctv_no > b.cctv_no ? 1 : -1;
          });
          this.initCctvData.items = tempListData
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            //this.mapData.loading = false
          }
        })
        .finally(() => {
         // this.mapData.loading = false
        }) 
         return tempListData
      },
      editItem: function (item) {
        let stno = item.st_no;
        this.$router.push({
          path: '/CctvView',
          query: { st_no: item.st_no}
        });
      },
      categoryChanged: function(item){
        const cctvItem =  this.initCctvData.items
        let filterItem = []
        switch (item) {
            case "台中市政府":
            this.dataSearchCounty.showSelect = true
            filterItem =  cctvItem.filter(deata =>  deata.category == item)
            break;
            case "全部":
            this.dataSearchCounty.showSelect = false
            filterItem  = cctvItem
            break;
          default:
            this.dataSearchCounty.showSelect = false
            filterItem =  cctvItem.filter(deata => deata.category == item)
            break;
        }
        this.itemList.items  = filterItem
      },
      countyChanged: function(item){
        const cctvItem =  this.initCctvData.items
        let  filterCategoryItem =  cctvItem.filter(deata =>  deata.category == "台中市政府")
          if(item === "全部"){
            this.itemList.items  = filterCategoryItem
          }else{
            let filterItem = filterCategoryItem.filter(deata => deata.cctv_town == item)
            this.itemList.items  = filterItem
          }
      }
  },
  components: {
    ItemList,
    SelectSearch
  },
};
</script>