<template>
  <v-container fluid>
  
    <v-row align="center" justify="center">
      <v-col
          v-for="(item, i) in cctvData.items"
          :key="i"
          cols="11"
        >
        <v-card>
          <v-card-text align="center">
            <iframe
              :src="item.cctv_url"
            ></iframe>
          </v-card-text>
          <v-card-title> {{item.cctv_name}} </v-card-title>
        </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    cctvData:{
      items:[]
    }
  }),
  mounted: function() {
    this.getListDatas()
  },
  methods:{
     getListDatas: function () {
        let self = this
        let tempListData = []
        let cctv_no = self.$route.query.st_no;
        const cctvUrl = '/api/javaapi/water_extra_api/cctv/getCctvListAll?org_id=69&cctv_no='+cctv_no
        self.$http.get(cctvUrl)
        .then(response => {
            response.data.forEach(datas => {
            tempListData.push({
              'cctv_url': datas.cctv_url,
              'cctv_name': datas.cctv_name,
              'cctv_address': datas.cctv_address,
              'cctv_town': datas.cctv_town,
              'cctv_no': datas.cctv_no,
              'category' : datas.category
            })
          })
          this.cctvData.items = tempListData
          this.initCctvData.items = tempListData
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            //this.mapData.loading = false
          }
        })
        .finally(() => {
         // this.mapData.loading = false
        }) 
      },
     
  },
  components: {
  },
};
</script>