<template>
  <v-container fluid>
     <v-card>
      <v-tabs
        v-model="tab"
        fixed-tabs
        centered
        icons-and-text
      >
        <v-tabs-slider></v-tabs-slider>

        <v-tab href="#tab-1">
          即時資料
          <v-icon>mdi-alert-circle-check-outline</v-icon>
        </v-tab>

        <v-tab href="#tab-2">
          水位歷線圖
          <v-icon>mdi-chart-line</v-icon>
        </v-tab>

        <v-tab href="#tab-3">
          24小時紀錄
          <v-icon>mdi-calendar-text-outline</v-icon>
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
     
        <v-tab-item
          value="tab-1"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col cols="10">
              <CardView
                :cardView="cardView">
              </CardView>
            </v-col>
          </v-row>
        </v-tab-item>
         <v-tab-item
          value="tab-2"
        >
         <v-row
          align="center"
          justify="center"
        >
        <v-col cols="10">
            <div id="chart"></div>
          </v-col>
        </v-row>
        </v-tab-item>
         <v-tab-item
          value="tab-3"
        >
           <v-row
            align="center"
            justify="center"
          >
            <v-col cols="10">
              <DataTable
                :dataTable="dataTable"
              ></DataTable>
            </v-col>
          </v-row>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
   
   
  
  </v-container>
  
</template>

<script>
  import SelectConfig from '@/config/select.config.json'
  import DataTable from '@/components/table/DataTable.vue'
  import CardView from '@/components/card/CardView.vue'
  export default {
    data: () => ({
      dataTable: {
        titleStr: '',
        noDataStr: '查無資料',
        headers: [        
          { text: '資料時間', value: 'datatime', },
          { text: '水位', value: 'water_inner', }
        ],
        options: {
          multiSort: true,
        },
        items: [],
        sorby: ['status'],
        desc: [false],
        loading: true,
        selectlable: SelectConfig.county.title,
        selectList: SelectConfig.county.list,
        showSelectList: false,
        type: SelectConfig.county.type,
        datas: {               
          datatime: '',
          water_inner: 0,
        }
      },
      cardView:{
        st_name: '',
        value: '',
        st_no: '',
        valueTitle:'現在水位',
        unit:'cm',
        detail: [
          { text: '狀態', value: '' },
          { text: '地址', value: '' }
        ]
      },
      chartLine:{
          title:  '',
          xAxis: {
            data: []           
          },
          series: {
              name: '歷史水位',            
               data: [],
               markLine: {
                  data: []
                }
            }
       }
      ,
      tab:null
    }),
    created(){
      this.getCardDatas()
    },
    updated() {
      this.getData()
      this.getListDatas()
      this.getCardDatas()
    },
    methods: {
      getListDatas: function () {    
        let self = this
        let tempListData = []
        let dataTime = []
        let waterlevel = []
        let st_no = self.$route.query.st_no;
        let unit = self.$route.query.unit || 2
        const floodUrl = '/api/javaapi/water_extra_api/flood/getFloodLogTime?org_id=69&type=flood&st_no='+st_no+'&unit='+unit
        self.$http.get(floodUrl)
        .then(response => {
          response.data.forEach(datas => {          
            tempListData.push({             
              'datatime': datas.datatime,
              'water_inner': datas.water_inner
            })
            dataTime.push(datas.datatime)
            waterlevel.push(datas.water_inner)
          })
          this.chartLine.xAxis.data = dataTime
          this.chartLine.series.data = waterlevel
          this.dataTable.items = tempListData
          this.getChartData();
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            this.dataTable.loading = false
          }
        })
        .finally(() => {
          this.dataTable.loading = false
        })
       
      } ,   
      getData: function(){      
        let self = this;
        let markline = [];
        const selfRoute = self.$route.query;
        let warn_lv1 = self.cardView.warn_lv1 ?? -999;
        let warn_lv2 = self.cardView.warn_lv2 ?? -999;
        const st_no = selfRoute.st_no;
        const st_name = self.cardView.st_name;
        self.dataTable.titleStr = st_name;
        self.chartLine.title =  st_name+"水位歷線圖"
        if(warn_lv1>-999){ //一級警戒
          markline.push(  {
                name: "一級警戒",
                label: {
                      normal: {
                          show: true,
                          position: 'middle',
                          formatter: '{b} : {c}'
                      }
                  },
                  itemStyle: {
                        normal: {
                          color: '#F44336'
                        }
                },
                  yAxis: warn_lv1
              })
        }
        if(warn_lv2>-999){ //二級警戒
          markline.push({
                name: "二級警戒",
                label: {
                      normal: {
                          show: true,
                          position: 'middle',
                          formatter: '{b} : {c}'
                      }
                  },
                  itemStyle: {
                        normal: {
                          color: '#FF9800'
                        }
                },
                  yAxis: warn_lv2
              })
        }
        this.chartLine.series.markLine.data =  markline;        
      },
      getCardDatas:function(){
        let self = this
        let cardViewData = self.cardView
        let st_no = self.$route.query.st_no;
        const floodUrl = '/api/javaapi/water_extra_api/flood/getFloodListData?org_id=69&type=flood&st_no='+st_no
        self.$http.get(floodUrl)
        .then(response => {
          response.data.forEach(datas => {          
            cardViewData.st_name = datas.st_name;
            cardViewData.datatime = datas.datatime;
            cardViewData.value = datas.water_inner;
            cardViewData.city = datas.city;
            cardViewData.town = datas.town;
            cardViewData.detail[0].value =  datas.status
            cardViewData.detail[1].value =  datas.description
            cardViewData.warn_lv1 = datas.warn_lv1;
            cardViewData.warn_lv2 = datas.warn_lv2;
          })
         
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            this.dataTable.loading = false
          }
        })
        .finally(() => {
          this.dataTable.loading = false
        })
      },
      getChartData: function () {
        let echarts = require('echarts')
        let myChart = echarts.init(document.getElementById("chart"));
        let optionData = this.chartLine;
        let waterlevel = optionData.series.data;
        let maxAlertRange =  Math.max.apply(null, waterlevel);		
        let minAlertRange = Math.min.apply(null, waterlevel);
        let self = this;
        const selfRoute = self.$route.query;
        let warn_lv1 = self.cardView.warn_lv1 ?? -999;
        let warn_lv2 = self.cardView.warn_lv2 ?? -999;
        maxAlertRange = (maxAlertRange > warn_lv1)?maxAlertRange:warn_lv1;
        minAlertRange = (minAlertRange < warn_lv2)?minAlertRange:warn_lv2;
        let option = {
          title: {
            text: optionData.title,
          },          
          tooltip: {
            trigger: 'axis'
          },
          xAxis: {
            type: "category",
            data: optionData.xAxis.data,
            axisLabel: {
              formatter: function (value, idx) {
                var date = new Date(value.replace(/-/g,'/'));
                return idx === 0 ? value : [date.getHours()].join();
              }
            }
          },
          yAxis: {
            splitLine: {
              show: true
            },
            max: Math.ceil(maxAlertRange),
            min: Math.floor(minAlertRange),
            scale: true
          },
          toolbox: {
            left: "right",
            feature: {
              saveAsImage: {
                title: "下載圖片檔",
                type: "jpeg",
              }
            },
          },
          series: {
            name: optionData.series.name,
            type: "line",
            animation: true,
            itemStyle: {
              normal: {
                color: "#3398DB",
              }
            },
            data: waterlevel,
            markLine: {
              silent: true,
              data: optionData.series.markLine.data
            },
          },
        };
        myChart.setOption(option);
      }
    },
    components: {
      DataTable,
      CardView
    } 

  }


</script>
<style scoped>
#chart {
  width: 100%;
  height: 300px;
}
</style>