<template>
  <v-container fluid>   
     <v-row align="center" justify="center">
      <v-col cols="12">
        <v-toolbar color="" flat>
            <SelectSearch :dataSearch="dataSearch" @change="cityChanged"></SelectSearch>
        </v-toolbar>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11">
        <ItemList
          :itemList="itemList"
           @editItem="editItem"
        ></ItemList>
      </v-col>
    </v-row>    
  </v-container>
  
</template>

<script>
  import SelectConfig from '@/config/select.config.json'
  import SelectSearch from "@/components/search/SelectSearch.vue"
  import ListMap from '@/config/listmap.config.json'
  import ItemList from '@/components/card/ItemList.vue'
  export default {
    data: () => ({
      itemList: {
        
        options: {
          multiSort: true,
        },
        items: [],
        initItems:[],
        showSelectList: true,
        searchItem:'town',
        type: SelectConfig.county.type,
        icon: ' mdi-water',
        datas: {
          st_no: '',
          st_name: '',
          datatime: '',
          value: 0,
          warn_lv1: 0,
          warn_lv2: 0,
          status: '',
        }
      },
      dataSearch:{
        items: SelectConfig.county.list,
        label: SelectConfig.county.title,
        showSelect: true
      }
    }),
    mounted: function() {
      this.itemList.items = this.getListDatas()
    },
    methods: {
      getListDatas: function () {
        let self = this
        let tempListData = []
        const type = "flood"
        const floodUrl = ListMap[type].apiUrl
        self.$http.get(floodUrl)
        .then(response => {
          response.data.forEach(datas => {
            //this.listDatas[datas.st_no] = datas
            let color = this.getColor(datas.status)
            tempListData.push({
              'st_no': datas.st_no,
              'st_name': datas.st_name,
              'datatime': datas.datatime,
              'datas': datas.water_inner,
              'warn_lv1': datas.warn_lv1,
              'warn_lv2': datas.warn_lv2,
              'status': datas.status,
              'color' : color,
              'town': datas.town,
            })
            this.itemList.initItems = tempListData
          })
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            this.itemList.loading = false
          }
        })
        .finally(() => {
          this.itemList.loading = false
        })
        return tempListData
      } ,
      getColor (status) {
        const type = "flood"
        let filterStatuslist =  ListMap[type].statusList.filter(statustype => statustype.status === status)
        let iconColor = filterStatuslist[0].color
        return iconColor
      },
      editItem: function (item) {
        let stno = item.st_no;
        this.$router.push({
          path: '/FloodLog',
          query: { st_no: item.st_no}
        });
      },
      cityChanged: function(item){
        const initItem =  this.itemList.initItems
        if(item === "全部"){
          this.itemList.items  = initItem
        }else{
          let filterItem = initItem.filter(deata => deata.town == item)
          this.itemList.items  = filterItem
        }
      }
    },
    components: {
      ItemList,
      SelectSearch
    } 

  }


</script>
