<template>
 
   <CardList :indexCardList="indexCardList"></CardList>
    
</template>
<script>
import MenuConfig from '@/config/menu.config.json'
import CardList from '@/components/card/CardList.vue'
   export default {
    data: () => ({
      indexCardList:MenuConfig.items
      }),
      components: {
        CardList
      }
    }
 </script>