<template>
  <PointMap :mapData="mapData" ></PointMap>
</template>

<script>
  import PointMap from '@/components/map/PointMap.vue'
  import ListMapConfig from '@/config/listmap.config.json'
  export default {
    data: () => ({
    mapData: {
      items: [],
      datas: {
        st_no: '',
        st_name: '',
        lat: 0,
        lon: 0,
        imgSrc: '',
        water_inner: 0,
        datatime: '',
        popup_title: '',
        header:[]
      }
    }
    }),
    mounted: function() {
      this.mapData.items = this.getListDatas()
    },
    methods: {
        getListDatas: function () {
        let self = this
        let tempListData = []
        const selfRoute = self.$route.query
        let st_no = selfRoute.st_no
        const type = this.$route.query.type
        const floodUrl = ListMapConfig[type].apiUrl+st_no
        const popupTitle = ListMapConfig[type].popup_title
        self.$http.get(floodUrl)
        .then(response => {
            response.data.forEach(datas => {
            let listData = this.pushListData(type,datas,popupTitle)
            tempListData.push(listData)
          })
        })
        .catch(error => {
          if (error.response && error.response.status == 401 && error.response.data.message == 'Unauthorized' ) {
            this.mapData.loading = false
          }
        })
        .finally(() => {
          this.mapData.loading = false
        })        
        return tempListData
      },
      getImgSrc(status){
        const type = this.$route.query.type
        let filterStatuslist =  ListMapConfig[type].statusList.filter(statustype => statustype.status === status)
        let iconPathName = filterStatuslist[0].iconName
        return iconPathName
      },
      pushListData(type,datas,popupTitle){
        let listData = {}
        let imgsrc = ""
        switch(type){
            case 'water':
            case 'flood':
              imgsrc = this.getImgSrc(datas.status)
              listData =  {
                    'st_no': datas.st_no,
                    'st_name': datas.st_name,
                    'lat': datas.lat,
                    'lon': datas.lon,
                    'img_src': imgsrc,
                    'popup_title':  popupTitle,
                    'header':[        
                          { text: popupTitle, value: datas.st_name, },
                          { text: '水位', value: datas.water_inner, },
                          { text: '時間', value: datas.datatime, }
                      ]
                  }
            break
            case 'pump':
              imgsrc = this.getImgSrc(datas.event_code)
              listData =  {
                    'st_no': datas.car_id,
                    'st_name': datas.car_id,
                    'lat': datas.lat,
                    'lon': datas.lon,
                    'img_src': imgsrc,
                    'popup_title':  popupTitle,
                    'header':[        
                          { text: popupTitle, value: datas.car_id, },
                          { text: '名稱', value: datas.car_id, },
                          { text: '狀態', value: datas.event_code, },
                          { text: '時間', value: datas.datatime },
                          { text: '縣市', value: datas.locate_county, },
                          { text: '鄉鎮', value: datas.locate_town, },
                          { text: '道路', value: datas.locate_road, }
                      ]
                  }
            break
            case 'cctv':
              imgsrc = 'cctv_normal'
              listData =  {
                    'st_no': datas.cctv_no,
                    'st_name': datas.cctv_name,
                    'lat': datas.cctv_lat,
                    'lon': datas.cctv_lon,
                    'img_src': imgsrc,
                    'popup_title':  popupTitle,
                    'cctv_url': datas.cctv_url,
                    'header':[        
                          { text: popupTitle, value: datas.cctv_name, },
                          { text: '縣市', value: datas.cctv_city, },
                          { text: '鄉鎮', value: datas.cctv_town, },
                          { text: '位址', value: datas.cctv_address, }
                      ]
                  }
            break
          }
        return listData
      }
    },
    components: {
      PointMap
    } 
  }
</script>
