<template>
  <v-container>
  <v-row dense align="center" justify="center">
          <v-col
            v-for="(item, i) in indexCardList"
            :key="i"
            cols="auto"
          >
            <v-card
              :color="item.color"
              dark
              width="300"
              @click="goToPage(item.href)"
              v-if="item.showMenu"
            >
              <div class="d-flex flex-no-wrap justify-space-between">
                <div>
                  <v-card-title
                    class="headline"
                    v-text="item.title"
                  ></v-card-title>
  
                  <v-card-subtitle v-text="item.text"></v-card-subtitle>
                </div>
  
                <v-avatar
                  class="ma-3"
                  tile
                >
                  <v-icon>{{ item.icon }}</v-icon>
                </v-avatar>
              </div>
            </v-card>
          </v-col>
        </v-row>
  </v-container>
</template>
<script>
export default {
    props: ['indexCardList'],
    data: () => ({
    }),
    methods:{
      goToPage(url,b){
        if(b){
          window.open(url, '_blank');
        }else{
          this.$router.push({ path: url });
        }
      },
    }
}
 </script>