<template>
  <v-card
    class="mx-auto"
    outlined
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-subtitle>
          {{ cardView.city }} {{cardView.town}}
        </v-list-item-subtitle>
        <v-list-item-title class="headline">
          {{cardView.st_name}}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-card-text>
     
       <div> {{cardView.valueTitle}}</div>
        <p class="display-3 text-center">
           {{ cardView.value}}
        </p>
        <div class="text--primary text-right">
           {{ cardView.unit}}
        </div>
    </v-card-text>
    
      <v-list-item
        v-for="(item, i) in cardView.detail"
        :key="i"
      >
         <v-list-item-content>
            <v-list-item-subtitle>
              {{ item.text }}
            </v-list-item-subtitle>
            <v-list-item-title>{{ item.value }}</v-list-item-title>
         </v-list-item-content>
      </v-list-item>
   
    <v-divider></v-divider>

    <v-card-actions>
      <v-btn text>
        更新日期: {{cardView.datatime}}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
    props: ['cardView'],
    data: () => ({
    })
}
 </script>