<template>
  <v-card
    class="mx-auto"
  >
  

    <v-list two-line>
      <v-list-item-group
        v-model="selected"
        active-class="blue--text"
        multiple
      >
        <template v-for="(item, index) in itemList.items">
          <v-list-item :key="item.title"  @click.stop="$emit('editItem',item)">
            <v-list-item-avatar>
               <v-icon
                  :color="item.color"
                  v-if="item.color"
                >
                 {{itemList.icon}}
                </v-icon>
            </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-text="item.st_name"></v-list-item-title>

                <v-list-item-subtitle
                  class="text--primary"
                  v-text="item.datatime"
                ></v-list-item-subtitle>

               
              </v-list-item-content>
              
              <v-list-item-action v-if="item.value != null">
                <v-list-item-action-text v-text="item.value"></v-list-item-action-text>
              </v-list-item-action>
          </v-list-item>

          <v-divider
            v-if="index < itemList.items.length - 1"
            :key="index"
          ></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
  export default {
    data () {
        return {
          items: [],
          selected: []
        }
    },
    props:['itemList']
  }
</script>