<template>
    <v-app-bar
      :color="topBar.color"
      :elevation="topBar.elevation"
      dense
      app
      dark
    >
      <v-app-bar-nav-icon
        @click.stop="$emit('navIconClick')"
      ></v-app-bar-nav-icon>
       <v-toolbar-title>{{topBar.title}}</v-toolbar-title>
       <v-spacer></v-spacer>
      <v-btn icon @click.stop="$emit('navChangePage')" v-if="topBar.selfItems.showChangIcon">
        <v-icon>mdi-map-marker</v-icon>
      </v-btn>
    </v-app-bar>
</template>

<script>
export default {
    props: ['topBar'],
    data: () => ({
      
    })
}
</script>