<template>
    <v-footer
      :color="footer.color"
      :inset="footer.inset"
      app
      padless
    >
      <v-col class="text-right">
        <div>&copy; {{ new Date().getFullYear() }}</div>
      </v-col>
    </v-footer>
</template>

<script>
export default {
    props: ['footer'],
    data: () => ({
    })
}
</script>