<template>
  <v-dialog
    ref="dialog"
    v-model="modal"
    :return-value.sync="dates"
    persistent
    width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-row>
        <v-col cols="9" md="6">
        <v-text-field
          v-model="dateRangeText"
          label="選擇日期範圍"
          prepend-icon="mdi-calendar-month-outline"
          readonly
          v-bind="attrs"
          v-on="on"
        ></v-text-field>
        </v-col>
        <v-col cols="3" md="6">
            <v-btn
              color="primary"
              @click.stop="$emit('searchClick',dateRangeText)"
            >
              <v-icon left>mdi-magnify</v-icon>搜尋
            </v-btn>
        </v-col>
        </v-row>
    </template>
    <v-date-picker v-model="dates" scrollable range  locale="zh-cn">
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="modal = false">取消</v-btn>
      <v-btn text color="primary" @click="$refs.dialog.save(dates)">確定</v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
   export default {
    props: ['dateRange'], 
    data: () => ({
      dates: [],
      modal: false
    }),
    mounted: function() {
      this.dates = this.dateRange.dates
    },
    computed: {
      dateRangeText () {
         return this.dates.join('~')
      },
    },
  }
</script>
