<template>
   <v-select
    :items="dataSearch.items"
    :label="dataSearch.label"
    v-if="dataSearch.showSelect"
    v-model ="itemData"
    @input="changItem()"
  ></v-select>
</template>

<script>
export default {
  props: ["dataSearch"],
  data: () => ({
   itemData: ""
  }),
  methods:{
    changItem: function(){
      this.$emit('change',this.itemData)
    }
  }
};
</script>
