<template>
  <v-data-table
    :headers="baseTable.headers"
    :items="baseTable.items"
    :options="baseTable.options"
    :loading="baseTable.loading"
    :search="search"
    loading-text="Loading... Please wait"
    class="elevation-1"
    dense
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{baseTable.titleStr}}</v-toolbar-title>
        <v-divider class="mx-12" inset vertical ></v-divider>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          block
        ></v-text-field>
      </v-toolbar>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click.stop="$emit('editItem',item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click.stop="$emit('deleteItem',item)"
      >
        mdi-delete
      </v-icon>
    </template>

    <template v-slot:no-data>
      <div class="transition-swing text-h4 text-center">{{baseTable.noDataStr}}</div>
    </template>
    </v-data-table>
</template>

<script>
  export default {
    data () {
      return {
        search: '',
      }
    },
    props:['baseTable'],
  }
</script>