<template> 
   
    <v-data-table
      :headers="dataTable.headers"
      :items="dataTable.items"
      :options="dataTable.options"
      :loading="dataTable.loading"
      :search="search"
      :custom-filter="filterOnlyCapsText"
      :sort-by="dataTable.sorby"
      :sort-desc="dataTable.desc"
      loading-text="Loading... Please wait"
      class="elevation-1"      
      dense
    >
   
    <template v-slot:top>
       <v-card-title>
        {{dataTable.titleStr}}
        <v-spacer></v-spacer>
        <v-select v-if="dataTable.showSelectList" v-model="search" :items="dataTable.selectList" :label="dataTable.selectlable"  clearable></v-select>     
      </v-card-title>
    </template>
     <template v-slot:item.status="{ item }">
       <v-chip :color="item.color" dark>{{ item.status }}</v-chip>
    </template>
     <template v-slot:item.actions="{ item }">
       <v-btn class="ma-2" tile outlined color="success"  @click.stop="$emit('editItem',item)">
        <v-icon left>mdi-format-list-checkbox</v-icon> 詳細內容
      </v-btn>
    </template>
     <template v-slot:item.waterHeight="{ item }">
       <v-chip :color="item.waterHeight[0]" dark small></v-chip>
       <v-chip :color="item.waterHeight[1]" dark small></v-chip>
    </template>
    </v-data-table>
</template>

<script>
  export default {
    data () {
      return {
        search: ''
      }
    },
    props:['dataTable'],
    methods: {
      filterOnlyCapsText (value, search, item) {   
        let serchItem = this.dataTable.searchItem
        if(search === "全部"){
           return item
        }else{
           return item[serchItem] === search
        }
      }
    }
  }
</script>