<template>
  <div>
    <vl-map
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      style="height: 100vh"
    >
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <vl-layer-tile>
        <vl-source-xyz :url="url"></vl-source-xyz>
      </vl-layer-tile>

      <vl-layer-vector>
        <vl-source-vector>
          <vl-feature v-for="item in mapData.items" :key="item.st_no" :properties="item">
            <vl-geom-point :coordinates="[item.lon, item.lat]"></vl-geom-point>
            <vl-style-box>
              <vl-style-icon :src="getImagePath(item.img_src)" :anchor="[.5, 1]" :scale="1"></vl-style-icon>
            </vl-style-box>
          </vl-feature>
        </vl-source-vector>
      </vl-layer-vector>

      <vl-interaction-select :features.sync="selectedFeatures">
        <template slot-scope="select">
          <!-- selected feature popup -->
          <vl-overlay
            class="feature-popup"
            v-for="feature in select.features"
            :key="feature.id"
            :id="feature.id"
            :position="pointOnSurface(feature.geometry)"
            :auto-pan="true"
            :auto-pan-animation="{ duration: 300 }"
          >


            <template slot-scope="popup">
              <v-card class="mx-auto" max-width="500">
                 <v-toolbar
                    color="grey lighten-5"
                    dense
                    flat
                  >
                  <v-toolbar-title>{{feature.properties.popup_title}}</v-toolbar-title>

                  <v-spacer></v-spacer>

                  <v-btn icon @click="selectedFeatures = selectedFeatures.filter(f => f.id !== popup.id)">
                    <v-icon>mdi-close-thick</v-icon>
                  </v-btn>
                </v-toolbar>            
              <v-divider></v-divider>

              <v-list dense>
                <v-list-item v-for="listitem in feature.properties.header" :key="listitem.key">
                  <v-list-item-content>{{listitem.text}}</v-list-item-content>
                  <v-list-item-content class="align-end">{{listitem.value}}</v-list-item-content>
                </v-list-item>
                <v-list-item v-if="feature.properties.cctv_url">
                   <iframe
                    :src="feature.properties.cctv_url"
                  ></iframe>
                </v-list-item>
              </v-list>
                 
              </v-card>
            </template>
          </vl-overlay>
          <!--// selected popup -->
        </template>
      </vl-interaction-select>
    </vl-map>
  </div>
</template>

<script>
import { IconStyle } from "vuelayers";
import {
  createProj,
  addProj,
  findPointOnSurface,
  createStyle,
  createMultiPointGeom,
  loadingBBox,
} from "vuelayers/lib/ol-ext";
export default {
  data() {
    return {
      zoom: 11,
      center: [120.677895, 24.146198],
      rotation: 0,
      geolocPosition: undefined,
      url:
        "https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}&key=AIzaSyA-rB00J2mp-rqTHLOWm89xnVBl5a6DWwQ",
      features: [],
      selectedFeatures: [],
    };
  },
  props: ["mapData"],
  mounted: function () {
    //PointMap.vuethis.getListDatas();
  },
  methods: {
    pointOnSurface: findPointOnSurface,
    getImagePath: function (fileName) {
      return require("@/assets/point/" + fileName + ".png");
    },
  },
};
</script>

<style lang="sass">
.feature-popup
  position: absolute
  left: -48px
  bottom: 45px
  width: 20em
  max-width: none
  &:after, &:before
    top: 100%
    border: solid transparent
    content: ' '
    height: 0
    width: 0
    position: absolute
    pointer-events: none
  &:after
    border-top-color: white
    border-width: 10px
    left: 48px
    margin-left: -10px
  &:before
    border-top-color: #cccccc
    border-width: 11px
    left: 48px
    margin-left: -11px
</style>