<template>
  <v-app id="index">
    <LeftNavDrawer 
      :leftNavDrawer="leftNavDrawer"
    ></LeftNavDrawer>

    <TopAppBar
      :topBar="topBar"
      @navIconClick="leftNavDrawer.model = !leftNavDrawer.model"
      @navChangePage="gotoPath"
    ></TopAppBar>
 
    <v-main>
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </v-main>



  </v-app>
</template>

<script>
  import NavConfig from '@/config/menu.config.json'
  import LeftNavDrawer from '@/components/nav-drawer/LeftNavDrawer.vue'
  import TopAppBar from '@/components/app-bar/TopAppBar.vue'
  export default {
    data: () => ({
      leftNavDrawer: {
        model: false,
        width: 260,
        items: NavConfig.items,
        home: NavConfig.home,
      },
      topBar: {
        color: 'green',
        elevation: 0,
        title: NavConfig.home.text,
        selfItems:{
          showChangIcon: false,
          childHref: ''
        }
      },
      RightNavDrawer:{},
      dialog: false,
    }),
    mounted: function() {
      this.topBar.selfItems = this.getSelfItems()
    },
    methods:{
      getSelfItems: function(){
        const routePath = this.$route.path
        const navItme =  NavConfig.items
        let filtesitem = navItme.filter(itemName => itemName.href === routePath)
        if(filtesitem.length > 0){
          return filtesitem[0]
        }else{
          const noData = {
             showChangIcon: false,
             childHref: ''
          }
          return noData
        }
      },
      gotoPath: function(){
        let selfchildHref = this.topBar.selfItems.childHref
        let type =  this.topBar.selfItems.type
        const selfRoute = this.$route.query
        let st_no = selfRoute.st_no?? ""
        //this.$router.push({ path: selfchildHref});
        this.$router.push({
            path: selfchildHref,
            query: {'type':type,'st_no':st_no}
          }
        )
      }
    },
    components: {
      LeftNavDrawer,
      TopAppBar
    },
    updated() {
      this.topBar.selfItems = this.getSelfItems();
    }
  }
</script>
